[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/Periklismant/hugo-profile
[submodule "public"]
	path = public
	url = https://github.com/Periklismant/periklismant.github.io.git
